<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/styleguide.css" />
    <link rel="stylesheet" href="./css/globals.css" />
    <link rel="stylesheet" href="./css/navbar_footer.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <footer id="footer">
      <div
        id="infomation"
        class="d-flex justify-content-around"
        style="gap: 132px"
      >
        <div style="max-width: 350px">
          <img
            style="position: relative; width: 200px"
            src="img/navbar/logo-hcmus-no-text.png"
            class="mb-4"
          />
          <div class="text-wrapper-9" style="position: relative; left: 5px">
            Faculty of Information Technology, VNUHCM-University of Science
          </div>
        </div>
        <div>
          <div class="text-wrapper-2 mb-4">Info</div>
          <div><a class="text-wrapper-3" href="#">HCMUS website</a></div>
          <div><a class="text-wrapper-3" href="#">FIT-HCMUS website</a></div>
          <div><a class="text-wrapper-3" href="#">CTDA website</a></div>
        </div>
        <div>
          <div class="text-wrapper-2 mb-4">Contact us</div>
          <div class="text-wrapper-9">
            227 Nguyen Van Cu, District 5, Ho Chi Minh city, Vietnam
          </div>
          <div class="text-wrapper-9">
            <img src="img/footer/solar-phone-outline.svg" alt="phone-icon" />
            Phone : (028) 3835 4266
          </div>
          <div class="text-wrapper-9">
            <img src="img/footer/quill-mail.svg" alt="mail-icon" /> E-mail :
            info@fit.hcmus.edu.vn
          </div>
        </div>
      </div>
      <div class="logo mx-auto">
        <div class="overlap-group mx-auto">
          <img
            class="sk-telecom"
            src="img/home_screen/sk-telecom-t1-seeklogo-1.png"
          />
          <div class="text-wrapper">Noodle</div>
          <div class="div">Powered by</div>
        </div>
      </div>
    </footer>
  </body>
</html>
