<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/styleguide.css" />
    <link rel="stylesheet" href="./css/globals.css" />
  </head>
  <body>
    <div class="course-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="background-courses">
            <div class="content">
              <div class="text-wrapper">Select your academic stage</div>
              <div class="toggle">
                <img class="vector" src="img/course_screen/vector.svg" />
                <div class="div">Junior</div>
              </div>
            </div>
          </div>
          <div class="all-of-courses">
            <div class="semester-toggle">
              <div class="text-wrapper-2">Semester</div>
              <div class="element-wrapper">
                <div class="element">
                  <div class="text-wrapper-3">1</div>
                  <img class="img" src="img/course_screen/vector-1.svg" />
                </div>
              </div>
            </div>
            <div class="frame">
              <div class="line">
                <div class="intro">
                  <div class="content-of">
                    <div class="text-wrapper-4">
                      Introduction to Data Science
                    </div>
                    <img
                      class="group"
                      src="img/course_screen/group-126-4.png"
                    />
                    <div class="below-content">
                      <img
                        class="button-play"
                        src="img/course_screen/button-play-4.png"
                      />
                      <div class="process-status">
                        <div class="text-wrapper-5">In process</div>
                        <div class="week">
                          <div class="text-wrapper-6">/12 weeks</div>
                          <div class="text-wrapper-7">12</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="intro-ds">
                  <div class="content-of">
                    <div class="text-wrapper-4">
                      Introduction to&nbsp;&nbsp;Software&nbsp;&nbsp;...
                    </div>
                    <img
                      class="group"
                      src="img/course_screen/group-126-3.png"
                    />
                    <div class="below-content">
                      <img
                        class="button-play"
                        src="img/course_screen/button-play-3.png"
                      />
                      <div class="process-status">
                        <div class="text-wrapper-5">In process</div>
                        <div class="week">
                          <div class="text-wrapper-6">/12 weeks</div>
                          <div class="text-wrapper-7">12</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="content-of-wrapper">
                  <div class="content-of">
                    <div class="text-wrapper-4">
                      Introduction to Machine ....
                    </div>
                    <img
                      class="group"
                      src="img/course_screen/group-126-2.png"
                    />
                    <div class="below-content">
                      <img
                        class="button-play"
                        src="img/course_screen/button-play-2.png"
                      />
                      <div class="process-status">
                        <div class="text-wrapper-5">In process</div>
                        <div class="week">
                          <div class="text-wrapper-6">/12 weeks</div>
                          <div class="text-wrapper-7">12</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="line">
                <div class="content-of-introds-wrapper">
                  <div class="content-of">
                    <div class="text-wrapper-4">
                      Programing for Data Science
                    </div>
                    <img
                      class="group"
                      src="img/course_screen/group-126-1.png"
                    />
                    <div class="below-content">
                      <img
                        class="button-play"
                        src="img/course_screen/button-play-1.png"
                      />
                      <div class="process-status">
                        <div class="text-wrapper-5">In process</div>
                        <div class="week">
                          <div class="text-wrapper-6">/12 weeks</div>
                          <div class="text-wrapper-7">12</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="div-wrapper">
                  <div class="content-of">
                    <div class="text-wrapper-4">General Law</div>
                    <img class="group" src="img/course_screen/group-126.png" />
                    <div class="below-content">
                      <img
                        class="button-play"
                        src="img/course_screen/button-play.png"
                      />
                      <div class="process-status">
                        <div class="text-wrapper-5">In process</div>
                        <div class="week">
                          <div class="text-wrapper-6">/12 weeks</div>
                          <div class="text-wrapper-7">12</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div class="source-noodle">
              <div class="notes">
                <div class="logo">
                  <div class="overlap-group">
                    <img
                      class="sk-telecom"
                      src="img/course_screen/sk-telecom-t1-seeklogo-1.png"
                    />
                    <div class="text-wrapper-8">Noodle</div>
                    <div class="text-wrapper-9">Powered by</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-space">
              <div class="frame-2">
                <img
                  class="logo-hcmus-no-text"
                  src="img/course_screen/logo-hcmus-no-text.png"
                />
                <p class="p">
                  Faculty of Information Technology, VNUHCM-University of
                  Science
                </p>
              </div>
              <div class="div-2">
                <div class="text-wrapper-10">Info</div>
                <div class="websites">
                  <div class="text-wrapper-11">HCMUS website</div>
                  <div class="text-wrapper-12">FIT-HCMUS website</div>
                  <div class="text-wrapper-12">CTDA website</div>
                </div>
              </div>
              <div class="div-2">
                <div class="text-wrapper-10">Contact us</div>
                <div class="websites">
                  <p class="div-3">
                    227 Nguyen Van Cu, District 5, Ho Chi Minh city, Vietnam
                  </p>
                  <div class="div-4">
                    <img
                      class="solar-phone-outline"
                      src="img/course_screen/solar-phone-outline.svg"
                    />
                    <p class="div-3">Phone : (028) 3835 4266</p>
                  </div>
                  <div class="div-4">
                    <img
                      class="quill-mail"
                      src="img/course_screen/quill-mail.svg"
                    />
                    <p class="div-3">
                      <span class="span">E-mail : </span>
                      <a
                        href="mailto:info@fit.hcmus.edu.vn"
                        target="_blank"
                        rel="noopener noreferrer"
                        ><span class="text-wrapper-13"
                          >info@fit.hcmus.edu.vn</span
                        ></a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <header class="header">
            <img
              class="logo-hcmus-no-text-2"
              src="img/course_screen/logo-hcmus-no-text.png"
            />
            <div class="navigation-header">
              <div class="text-wrapper-14">Home</div>
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <img class="line-2" src="img/course_screen/line-6.svg" />
                  <div class="text-wrapper-15">Courses</div>
                </div>
              </div>
              <div class="text-wrapper-14">Calendar</div>
              <div class="text-wrapper-14">Support</div>
            </div>
            <img class="user-info" src="img/course_screen/user-info.svg" />
          </header>
        </div>
      </div>
    </div>
  </body>
</html>
