<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/navbar_footer.css" />
    <!-- <link rel="stylesheet" href="/css/detail_course.css" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- NAVBAR -->
    <%- include('partials/navbar', {activePage: 'course' }) %>
    <!-- ACADEMIC STAGE MENU -->
    <div class="background-course">
      <div
        class="d-flex flex-column justify-content-center align-items-start"
        style="background-color: #e6e8ed; height: 320px"
      >
        <div
          class="text-wrapper"
          style="
            font-weight: 700;
            color: #000000;
            font-size: 40px;
            letter-spacing: 0;
            line-height: normal;
            margin-left: 50px;
            margin-top: 50px;
          "
        >
          Introduction to Software Engineer - CSC13002
        </div>
        <!-- MAIN -->
        <div id="main" style="border-radius: 23px 23px 0px 0px; margin-top: -20px; height: 2100px;">
            <!-- Noti + Forum -->
            <div class="col-12" style="width: 1408px;
                    height: 213px;
                    position: absolute;
                    top: 98px;
                    left: 16px;
                    border: 3px solid #E6E8ED;
                    backdrop-filter: blur(2px);
                    border-radius: 34px;
                    padding: 15px; /* Adjust padding as needed */
                    background-color: #fff; /* Adjust background color as needed */">
                <div class="div" style="position: relative;
                        width: 331px;
                        height: 119px;
                        top: 25px;
                        left:100px;
                        ">
                    <div class="announcements" style="display: inline-flex;
                        align-items: center;
                        gap: 6px;
                        position: absolute;
                        top: 0;
                        left: 3px;"> <img style=" position: relative; width: 32px; height: 32px"
                            src="/img/detail_course_screen/mingcute_announcement-line.svg" />
                        <a class="text-wrapper-8" style="position: relative;
                            width: fit-content;
                            margin-top: -1px;
                            font-weight: 500;
                            color: #e20d2c;
                            font-size: 32px;
                            letter-spacing: 0;
                            line-height: normal;" href='#'>Announcements</a>
                    </div>
                    <div class="forum" style="display: inline-flex;
                        align-items: center;
                        gap: 6px;
                        position: absolute;
                        top: 71px;
                        left: 3px;">
                        <img style="position: relative; width: 32px; height: 32px"
                            src="/img/detail_course_screen/octicon_comment-discussion-16.svg" />
                        <a class="text-wrapper-8" style="position: relative;
                            width: fit-content;
                            margin-top: -1px;
                            font-weight: 500;
                            color: #00b135;
                            font-size: 32px;
                            letter-spacing: 0;
                            line-height: normal;" href='123'>Discussion forum</a>
                    </div>
                </div>
            </div>
            <div class="theory">
                <div class="frame">
                    <img class="icon-park-outline" src="/img/detail_course_screen/icon-park-outline_down-one.svg" />
                    <div class="theory-box">
                        <div class="theory-sub-title">
                            <div class="div">
                                <img class="solar-book-outline" src="/img/detail_course_screen/solar_book-outline.svg" />
                                <div class="text-wrapper">Lesson</div>
                            </div>
                            <img class="vector" src="/img/detail_course_screen/Vector.svg" />
                            <div class="text-wrapper">11 Sections</div>
                        </div>
                        <div class="theory-title">
                            <div class="text-wrapper-2">THEORY</div>
                        </div>
                    </div>
                </div>
                <div class="frame-wrapper">
                    <div class="frame-2">
                        <div class="div">
                            <img class="codicon-file-pdf" src="/img/detail_course_screen/codicon_file-pdf.svg" />
                            <div class="text-wrapper-3">00-SE-Syllabus-CLCFile</div>
                        </div>
                        <div class="div">
                            <img class="codicon-file-pdf" src="/img/detail_course_screen/codicon_file-pdf.svg" />
                            <div class="text-wrapper-3">01-SE-Software Engineering Overview-English</div>
                        </div>
                        <div class="div">
                            <img class="codicon-file-pdf" src="/img/detail_course_screen/codicon_file-pdf.svg" />
                            <div class="text-wrapper-3">02-SE-Software Process-English</div>
                        </div>
                        <div class="div">
                            <img class="codicon-file-pdf" src="/img/detail_course_screen/codicon_file-pdf.svg" />
                            <div class="text-wrapper-3">03-SE-Project Management-English</div>
                        </div>
                        <div class="div">
                            <img class="codicon-file-pdf" src="/img/detail_course_screen/codicon_file-pdf.svg" />
                            <div class="text-wrapper-3">04-SE-Software Requirements-English</div>
                        </div>
                        <div class="div">
                            <img class="codicon-file-pdf" src="/img/detail_course_screen/codicon_file-pdf.svg" />
                            <div class="text-wrapper-3">05-SE-Software Modeling-English</div>
                        </div>
                        <div class="div">
                            <img class="codicon-file-pdf" src="/img/detail_course_screen/codicon_file-pdf.svg" />
                            <div class="text-wrapper-3">06-SE-Software Architecture-English</div>
                        </div>
                        <div class="div">
                            <img class="codicon-file-pdf" src="/img/detail_course_screen/codicon_file-pdf.svg" />
                            <div class="text-wrapper-3">07-SE-Software Design-English</div>
                        </div>
                        <div class="div">
                            <img class="codicon-file-pdf" src="/img/detail_course_screen/codicon_file-pdf.svg" />
                            <div class="text-wrapper-3">08-SE-Software Testing-English</div>
                        </div>
                        <div class="div">
                            <img class="codicon-file-pdf" src="/img/detail_course_screen/codicon_file-pdf.svg" />
                            <div class="text-wrapper-3">10-SE-Agile Methodologies-English</div>
                        </div>
                        <div class="div">
                            <img class="mingcute-ppt-line" src="/img/detail_course_screen/mingcute_ppt-line.svg" />
                            <p class="text-wrapper-3">Unit Test and Test Driven Development</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textbook">
                <div class="frame">
                    <img class="icon-park-outline" src="/img/detail_course_screen/icon-park-outline_down-one.svg" />
                    <div class="theory-box">
                        <div class="theory-sub-title">
                            <div class="lesson-frame">
                                <img class="solar-book-outline" src="/img/detail_course_screen/solar_book-outline.svg" />
                                <div class="text-wrapper">Lesson</div>
                            </div>
                            <img class="vector" src="/img/detail_course_screen/Vector.svg" />
                            <div class="text-wrapper">8 Sections</div>
                        </div>
                        <div class="theory-title">
                            <div class="div">TEXTBOOK AND REFERENCES</div>
                        </div>
                    </div>
                    <img class="ant-design-setting" src="/img/detail_course_screen/ant-design_setting-outlined.svg" />
                </div>
            </div>
            <div class="project">
                <img class="icon-park-outline" src="/img/detail_course_screen/icon-park-outline_down-one.svg" />
                <div class="theory-box">
                    <div class="theory-title">
                        <div class="text-wrapper">Project</div>
                    </div>
                    <div class="frame">
                        <div class="theory-sub-title">
                            <div class="lesson-frame">
                                <img class="solar-book-outline" src="/img/detail_course_screen/solar_book-outline.svg" />
                                <div class="div">Lesson</div>
                            </div>
                            <img class="vector" src="/img/detail_course_screen/Vector.svg" />
                            <div class="div">8 Sections</div>
                        </div>
                        <div class="theory-sub-title-2">
                            <div class="lesson-frame">
                                <img class="bi-trophy" src="/img/detail_course_screen/bi_trophy.svg" />
                                <div class="div">Test</div>
                            </div>
                            <img class="vector" src="/img/detail_course_screen/Vector.svg" />
                            <div class="div">6 Sections</div>
                        </div>
                    </div>
                </div>
                <img class="ant-design-setting" src="/img/detail_course_screen/ant-design_setting-outlined.svg" />
            </div>
        </div>
        <!-- FOOTER -->
        <%- include('partials/footer') %>
</body>
<script>
    $(document).ready(function () {
      // DROPDOWN BEHAVIOR
      $(".dropdown").each(function () {
        var defaultItem = $(this)
          .find(".dropdown-menu .dropdown-item.selected")
          .text();
        $(this).find(".dropdown-toggle .dropdown-title").text(defaultItem);
      });
      $(".dropdown-menu .dropdown-item").click(function () {
        var selText = $(this).text();
        $(this)
          .parents(".dropdown")
          .find(".dropdown-toggle .dropdown-title")
          .text(selText);
        $(this)
          .parent()
          .find(".dropdown-item.selected")
          .removeClass("selected");
        $(this).addClass("selected");
      });
      // COURSE-CARD COLOR BEHAVIOR
      const themeColors = [
        "#EC7B9C",
        "#398A80",
        "#F9F01F",
        "#173AFF",
        "#EC7BD3",
      ];
      let lastRandomColor = "#000";
      $(".course-card.card").each(function () {
        function getRandomElement(arr) {
          let randomColor = arr[Math.floor(Math.random() * arr.length)];
          while (randomColor === lastRandomColor) {
            randomColor = arr[Math.floor(Math.random() * arr.length)];
          }
          console.log(randomColor, lastRandomColor);
          lastRandomColor = randomColor;
          return randomColor;
        }
        const themeColor = getRandomElement(themeColors);
        console.log(themeColor);
        function hexToRGBA(hex, alpha = 1) {
          var r = parseInt(hex.slice(1, 3), 16),
            g = parseInt(hex.slice(3, 5), 16),
            b = parseInt(hex.slice(5, 7), 16);

          return "rgba(" + r + ", " + g + ", " + b + ", " + alpha + ")";
        }

        $(this).css("background-color", hexToRGBA(themeColor, 0.3));
        $(this).find(".play-button").html(`
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="72"
                height="72"
                viewBox="0 0 73 72"
                fill="${themeColor}"
            >
                <path
                    d="M36.0458 72C55.9533 72 72.0915 55.8823 72.0915 36C72.0915 16.1177 55.9533 0 36.0458 0C16.1382 0 0 16.1177 0 36C0 55.8823 16.1382 72 36.0458 72Z"
                />
                <path
                    d="M47.515 33.1656C48.0131 33.4528 48.4267 33.866 48.7143 34.3635C49.0019 34.861 49.1533 35.4253 49.1533 35.9998C49.1533 36.5742 49.0019 37.1385 48.7143 37.636C48.4267 38.1335 48.0131 38.5467 47.515 38.8339L32.769 47.343C32.2708 47.6303 31.7058 47.7815 31.1305 47.7815C30.5553 47.7815 29.9903 47.6303 29.4921 47.343C28.994 47.0558 28.5803 46.6427 28.2927 46.1452C28.0051 45.6477 27.8537 45.0833 27.8536 44.5088V27.4907C27.8537 26.9162 28.0051 26.3518 28.2927 25.8543C28.5803 25.3568 28.994 24.9437 29.4921 24.6565C29.9903 24.3692 30.5553 24.218 31.1305 24.218C31.7058 24.218 32.2708 24.3692 32.769 24.6565L47.515 33.1656Z"
                    fill="white"
                />
            </svg>
            `);
      });
    });
  </script>
</html>
