<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/styleguide.css" />
    <link rel="stylesheet" href="./css/globals.css" />
  </head>
  <body>
    <div class="home-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <footer class="footer">
            <div class="source-noodle">
              <div class="notes">
                <div class="logo">
                  <div class="overlap-group">
                    <img
                      class="sk-telecom"
                      src="img/home_screen/sk-telecom-t1-seeklogo-1.png"
                    />
                    <div class="text-wrapper">Noodle</div>
                    <div class="div">Powered by</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-space">
              <div class="frame">
                <img
                  class="logo-hcmus-no-text"
                  src="img/home_screen/logo-hcmus-no-text.png"
                />
                <p class="p">
                  Faculty of Information Technology, VNUHCM-University of
                  Science
                </p>
              </div>
              <div class="div-2">
                <div class="text-wrapper-2">Info</div>
                <div class="websites">
                  <div class="text-wrapper-3">HCMUS website</div>
                  <div class="text-wrapper-4">FIT-HCMUS website</div>
                  <div class="text-wrapper-4">CTDA website</div>
                </div>
              </div>
              <div class="div-2">
                <img
                  class="img"
                  src="img/home_screen/solar-phone-outline.svg"
                />
                <div class="text-wrapper-5">Contact us</div>
                <div class="websites">
                  <p class="div-3">
                    227 Nguyen Van Cu, District 5, Ho Chi Minh city, Vietnam
                  </p>
                  <div class="div-4">
                    <img
                      class="img"
                      src="img/home_screen/solar-phone-outline.svg"
                    />
                    <p class="div-3">Phone : (028) 3835 4266</p>
                  </div>
                  <div class="div-4">
                    <img
                      class="quill-mail"
                      src="img/home_screen/quill-mail.svg"
                    />
                    <p class="div-3">
                      <span class="span">E-mail : </span>
                      <a
                        href="mailto:info@fit.hcmus.edu.vn"
                        target="_blank"
                        rel="noopener noreferrer"
                        ><span class="text-wrapper-6"
                          >info@fit.hcmus.edu.vn</span
                        ></a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <div class="courses-of">
            <div class="text-wrapper-7">Semester 1 - Junior</div>
            <div class="subject-of-semester">
              <div class="infomation-subject-wrapper">
                <div class="infomation-subject">
                  <div class="text-of-subject">
                    <div class="subject-info">
                      <p class="text-wrapper-8">
                        Introduction to Machine Learning - CSC14005
                      </p>
                      <div class="text-wrapper-9">21KHMT01</div>
                    </div>
                    <div class="teachers">
                      <p class="div-5">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11">Bui Tien Len</span>
                      </p>
                      <p class="div-6">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11">Le Nhut Nam</span>
                      </p>
                      <p class="div-6">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11">Nguyen Ngoc Duc</span>
                      </p>
                    </div>
                  </div>
                  <img
                    class="solar-key-linear"
                    src="img/home_screen/solar-key-linear-3.svg"
                  />
                </div>
              </div>
              <div class="infomation-subject-wrapper">
                <div class="infomation-subject">
                  <div class="text-of-subject">
                    <div class="subject-info">
                      <p class="text-wrapper-8">
                        Programing for Data Science - CSC17104
                      </p>
                      <div class="text-wrapper-9">21KHDL01</div>
                    </div>
                    <div class="teachers-2">
                      <p class="div-5">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11">Nguyen Tien Huy</span>
                      </p>
                      <p class="div-6">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11">Tran Quoc Huy</span>
                      </p>
                      <p class="div-6">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11"
                          >Nguyen Tran Duy Minh</span
                        >
                      </p>
                      <p class="div-6">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11">Pham Trong Nghia</span>
                      </p>
                    </div>
                  </div>
                  <img
                    class="solar-key-linear"
                    src="img/home_screen/solar-key-linear-3.svg"
                  />
                </div>
              </div>
              <div class="infomation-subject-wrapper">
                <div class="infomation-subject">
                  <div class="text-of-subject">
                    <div class="subject-info">
                      <p class="text-wrapper-8">
                        Introduction to Software Engineer - CSC13002
                      </p>
                      <div class="text-wrapper-9">21CLC03</div>
                    </div>
                    <div class="teachers">
                      <p class="div-5">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11"
                          >Nguyen Le Hoang Dung</span
                        >
                      </p>
                      <p class="div-6">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11">Tran Minh Huy</span>
                      </p>
                      <p class="div-6">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11">Tran Duy Thao</span>
                      </p>
                    </div>
                  </div>
                  <img
                    class="solar-key-linear"
                    src="img/home_screen/solar-key-linear-1.svg"
                  />
                </div>
              </div>
              <div class="infomation-subject-wrapper">
                <div class="infomation-subject">
                  <div class="text-of-subject">
                    <div class="subject-info">
                      <p class="text-wrapper-8">
                        Introduction to Data Science - CSC14119
                      </p>
                      <div class="text-wrapper-9">21KHDL01</div>
                    </div>
                    <div class="teachers-2">
                      <p class="div-5">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11">Nguyen Thi Thu Hang</span>
                      </p>
                      <p class="teacher-nguyen-bao">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11">Nguyen Bao Long</span>
                      </p>
                      <p class="div-6">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11">Le Ngoc Thanh</span>
                      </p>
                      <p class="div-6">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11">Nguyen Ngoc Thao</span>
                      </p>
                    </div>
                  </div>
                  <img
                    class="solar-key-linear"
                    src="img/home_screen/solar-key-linear-1.svg"
                  />
                </div>
              </div>
              <div class="div-wrapper">
                <div class="infomation-subject-2">
                  <div class="text-of-subject-2">
                    <div class="subject-info-2">
                      <div class="text-wrapper-8">General Law - BAA00004</div>
                      <div class="text-wrapper-9">21CLC02</div>
                    </div>
                    <div class="teacher-hoang-thanh-wrapper">
                      <p class="div-5">
                        <span class="text-wrapper-10">Teacher: </span>
                        <span class="text-wrapper-11">Hoang Thanh Tu</span>
                      </p>
                    </div>
                  </div>
                  <img class="img" src="img/home_screen/solar-key-linear.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="backgrounds-of"></div>
          <div class="latest-tasks">
            <div class="latest">
              <div class="text">
                <div class="text-wrapper-12">Introduction to Programming</div>
                <div class="title-of-latest-task">
                  <div class="text-wrapper-13">Time remaining</div>
                  <div class="text-wrapper-14">Lab 05 sub...</div>
                </div>
                <div class="time">
                  <div class="text-wrapper-15">3 days 21 hours</div>
                </div>
                <img
                  class="process-bar"
                  src="img/home_screen/process-bar-2.png"
                />
              </div>
            </div>
            <div class="latest">
              <div class="text">
                <div class="text-wrapper-12">
                  Introduction to Software En...
                </div>
                <div class="title-of-latest-task-2">
                  <div class="text-wrapper-13">Time remaining</div>
                  <div class="text-wrapper-16">PA04</div>
                </div>
                <div class="time">
                  <div class="text-wrapper-15">3 days 22 hours</div>
                </div>
                <img
                  class="process-bar"
                  src="img/home_screen/process-bar-1.png"
                />
              </div>
            </div>
            <div class="latest">
              <div class="text">
                <div class="text-wrapper-12">Introduction to Data Science</div>
                <div class="title-of-latest-task">
                  <div class="text-wrapper-13">Time remaining</div>
                  <div class="text-wrapper-14">Final Project</div>
                </div>
                <div class="time">
                  <div class="text-wrapper-15">3 days 23 hours</div>
                </div>
                <img
                  class="process-bar-2"
                  src="img/home_screen/process-bar.png"
                />
              </div>
            </div>
          </div>
          <header class="header">
            <img
              class="logo-hcmus-no-text-2"
              src="img/home_screen/logo-hcmus-no-text.png"
            />
            <div class="navigation-header">
              <div class="chosen-box">
                <div class="overlap-group-2">
                  <img class="line" src="img/home_screen/line-6.svg" />
                  <div class="text-wrapper-17">Home</div>
                </div>
              </div>
              <div class="text-wrapper-12">Courses</div>
              <div class="text-wrapper-12">Calendar</div>
              <div class="text-wrapper-12">Support</div>
            </div>
            <img class="user-info" src="img/home_screen/user-info.svg" />
          </header>
        </div>
      </div>
    </div>
  </body>
</html>
