<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/styleguide.css" />
    <link rel="stylesheet" href="./css/globals.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="frame-wrapper">
        <div class="frame">
          <div class="login-frame">
            <img
              class="fithcmus-logo"
              src="img/login_screen/fithcmus-logo.png"
            />
            <p class="text-wrapper">Forgot your username or password?</p>
            <div class="login-box">
              <div class="div">Log in</div>
            </div>
            <div class="password-input">
              <div class="text-wrapper-2">Password</div>
              <img class="line" src="img/login_screen/line-5-1.svg" />
              <img
                class="carbon-view-off"
                src="img/login_screen/carbon-view-off.svg"
              />
            </div>
            <div class="username-input">
              <div class="text-wrapper-2">Username</div>
              <img class="line" src="img/login_screen/line-5-1.svg" />
            </div>
          </div>
          <div class="logo-frame">
            <img class="image" src="img/login_screen/image-10.png" />
          </div>
          <div class="source-noodle">
            <div class="notes">
              <div class="logo">
                <div class="overlap-group">
                  <img
                    class="sk-telecom"
                    src="img/login_screen/sk-telecom-t1-seeklogo-1.png"
                  />
                  <div class="text-wrapper-3">Noodle</div>
                  <div class="text-wrapper-4">Powered by</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
