<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/profile.css" />
    <title>Document</title>
  </head>
  <body>
    <%-include('partials/navbar', { activePage: 'none' }) %>
    <div class="mt-5"></div>
    <div id="main" style="height: fit-content !important">
      <div class="d-flex justify-content-center fs-3 bot-line">
        <span class="nav-acc active">Account</span>
        <span class="nav-acc">Password</span>
      </div>
      <div id="account" class="mx-auto text-center">
        <div class="text-center mt-3 fs-2 fw-bold">Account</div>
        <img
          aria-expanded="false"
          class="avatar-icon rounded-circle mt-3"
          src="/img/navbar/21127689.png"
          alt="student_picture"
          style="cursor: pointer; height: 132px; width: 132px"
        />
      </div>
      <div class="mt-5">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col" style="height: 350px">
            <div class="course-card h-100">
              <div class="edit">Edit profile</div>
              <div class="card-title">User details</div>
              <div class="mt-5 fs-4 fw-bold">Emails</div>
              <div class="fs-5">
                <span class="orange">ndtdat21@clc.fitus.edu.vn</span> (Visible
                to other course participants)
              </div>
              <div class="mt-4 fs-4 fw-bold">Place</div>
              <div class="fs-5">Ho Chi Minh, Viet Nam</div>
            </div>
          </div>
          <div class="col">
            <div class="course-card h-100">
              <div class="card-title">Login activity</div>
              <div class="mt-5 fs-4 fw-bold">First access to site</div>
              <div class="fs-5">
                Saturday, 2 October 2021, 10:42 AM (2 years 74 days)
              </div>
              <div class="mt-4 fs-4 fw-bold">Last access to site</div>
              <div class="fs-5">Friday, 15 December 2023, 5:12 PM (now)</div>
            </div>
          </div>
          <div class="col" style="height: 600px">
            <div class="course-card h-100">
              <div class="fs-4 btn btn-primary mid-bottom">View more</div>
              <div class="card-title">Course details</div>
              <div class="mt-5 mb-2 fs-4 fw-bold">Course profiles</div>
              <div class="fs-5">
                <a class="orange" href="#"
                  >Programing for Data Science - CSC17104 21KHDL01</a
                >
              </div>
              <div class="fs-5">
                <a class="orange" href="#"
                  >Introduction to Data Science - CSC14119 21KHDL01</a
                >
              </div>
              <div class="fs-5">
                <a class="orange" href="#">General Law - BAA00004 21CLC02</a>
              </div>
              <div class="fs-5">
                <a class="orange" href="#"
                  >Applied Math and Statistics for IT- MTH00057 21CLC03</a
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="course-card h-100">
              <div class="fs-4 btn btn-primary mid-bottom">View more</div>
              <div class="card-title">Upcoimg events</div>
              <a
                href="#"
                class="btn d-flex flex-column align-items-start gap-3 py-2 bot-line"
              >
                <div class="orange fs-4 one-row">
                  <i class="fa-solid fa-link"></i> PA4 - Submission
                </div>
                <div class="fs-5">Sunday, 17 December, 22:00</div>
              </a>
              <a
                href="#"
                class="btn d-flex flex-column align-items-start gap-3 py-2 bot-line"
              >
                <div class="orange fs-4 one-row">
                  <i class="fa-solid fa-link"></i> PA4 - Submission
                </div>
                <div class="fs-5">Sunday, 17 December, 22:00</div> </a
              ><a
                href="#"
                class="btn d-flex flex-column align-items-start gap-3 py-2 bot-line"
              >
                <div class="orange fs-4 one-row">
                  <i class="fa-solid fa-link"></i> PA4 - Submission
                </div>
                <div class="fs-5">Sunday, 17 December, 22:00</div> </a
              ><a
                href="#"
                class="btn d-flex flex-column align-items-start gap-3 py-2 bot-line"
              >
                <div class="orange fs-4 one-row">
                  <i class="fa-solid fa-link"></i> PA4 - Submission
                </div>
                <div class="fs-5">Sunday, 17 December, 22:00</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%-include('partials/footer') %>
    <script>
      $(".nav-acc").click(function () {
        $(".nav-acc.active").removeClass("active");
        $(this).addClass("active");
      });
    </script>
  </body>
</html>
