.course-card {
  height: 270px !important;
  position: relative;
  padding: 13px 34px 20px 35px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: space-between;
  border-radius: 24px !important;
  border: 2px solid #f5f6fa;
  background: #fff;
  fill: lightgray -1.228px -10.306px / 102.632% 153.949% no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  letter-spacing: 0;
  line-height: normal;
}
/* .course-card {
  transition: transform 0.3s ease-out;
}
.course-card:hover {
  transform: scale(1.06);
} */
.course-card .process-status {
  color: #000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  bottom: 64px;
}

.course-card .process-week {
  color: #000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  position: absolute;
  bottom: 23px;
}

.course-card .play-button {
  position: absolute;
  bottom: 23px;
  right: 23px;
}

.play-button img {
  width: 79px;
  height: 79px;
}

/* DETAIL */

.box-1 {
  position: relative;
  border-radius: 34px;
  border: 3px solid #e6e8ed;
  /* backdrop-filter: blur(2px); */
}

.border-orange {
  border: 3px solid #ffe9ca;
  /* padding: 15px 55px !important; */
}

.toggle-materials {
  position: absolute;
  right: 60px;
  top: 40px;
  font-size: 30px;
}

.toggle-gear {
  position: absolute;
  right: 110px;
  top: 36px;
  font-size: 30px;
}

.gear-card {
  position: absolute;
  right: 80px;
  top: 80px;
  z-index: 1000 !important;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 20px;
  border: 3px solid #ffe9ca;
  background: #fff;
  backdrop-filter: blur(2px) !important;
  transition: transform 0.5s ease !important;
}
