@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,700|PT+Sans+Caption:700");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px auto;
  height: 100%;
  width: 1440px;
  font-family: "Poppins", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 0.9em;
  transition: opacity 0.3s ease-out;
}

.error.hidden {
  opacity: 0;
}

.error-highlight {
  border-color: red;
}

a {
  text-decoration: none;
}