.nav-acc {
  text-align: center;
  padding: 0 10px;
  cursor: pointer;
}
.nav-acc.active {
  border-bottom: 2px solid #1479f4;
  color: #1479f4;
}

.course-card {
  position: relative;
  border-radius: 24px;
  border: 2px solid lightgray;
  background: #fff;
  backdrop-filter: blur(2px);
  padding: 32px 43px;
  display: flex;
  flex-direction: column;

  /* fill: lightgray -1.228px -10.306px / 102.632% 153.949% no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.course-card .card-title {
  font-size: 30px;
  font-weight: 600;
}

.edit {
  position: absolute;
  top: 32px;
  right: 43px;
  color: #ff7c00 !important;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}

.orange {
  color: #ff7c00 !important;
}

.bot-line {
  border-bottom: 1px solid gray !important;
}

.top-line {
  border-top: 1px solid gray !important;
}

.one-row {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mid-bottom {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.show {
  display: block !important;
}

.avatar {
  position: relative;
  height: 132px;
  width: 132px;
}
.avatar form {
  position: relative;
  height: inherit;
  width: inherit;
}
.avatar .file {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  width: 35px;
  cursor: pointer;
}
.avatar .file-icon {
  font-size: 35px;
  height: 35px;
  display: block;
  position: absolute;

  bottom: 0;
  right: 0;
  z-index: 0;
}
