#main {
  position: relative;
  background-color: #f5f6fa;
  /* min-height: calc(100% - 40px - 1400px); */
  padding: 40px;
  padding-top: 100px;
}

.f-nunito {
  font-family: "Nunito", sans-serif;
}

.f-pt-san-caption {
  font-family: "PT Sans Caption", sans-serif;
}

.login-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login-page .frame-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1004px;
}

.login-page .frame {
  position: relative;
  width: 1352px;
  height: 927px;
  top: 39px;
  left: 44px;
  background-color: #e5efff;
  border-radius: 42px;
  overflow: hidden;
}

.login-page .login-frame {
  position: absolute;
  width: 548px;
  height: 684px;
  top: 121px;
  left: 756px;
  background-color: #ffffff80;
  border-radius: 34px;
}

.login-page .fithcmus-logo {
  position: absolute;
  width: 396px;
  height: 163px;
  top: 0;
  left: 76px;
  object-fit: cover;
}

.login-page .text-wrapper {
  position: absolute;
  top: 587px;
  left: 149px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #a06137;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .login-box {
  position: absolute;
  width: 444px;
  height: 85px;
  top: 487px;
  left: 52px;
  background-color: #0071f9;
  border-radius: 12px;
  overflow: hidden;
}

.login-page .div {
  position: absolute;
  top: 27px;
  left: 186px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .password-input {
  position: absolute;
  width: 443px;
  height: 82px;
  top: 342px;
  left: 53px;
}

.login-page .text-wrapper-2 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .line {
  position: absolute;
  width: 443px;
  height: 1px;
  top: 81px;
  left: 0;
  object-fit: cover;
}

.login-page .carbon-view-off {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 50px;
  left: 420px;
}

.login-page .username-input {
  position: absolute;
  width: 444px;
  height: 82px;
  top: 226px;
  left: 52px;
}

.login-page .logo-frame {
  position: absolute;
  width: 751px;
  height: 805px;
  top: 0;
  left: 5px;
}

.login-page .image {
  position: absolute;
  width: 495px;
  height: 387px;
  top: 209px;
  left: 128px;
  object-fit: cover;
}

.login-page .source-noodle {
  position: absolute;
  width: 1347px;
  height: 109px;
  top: 818px;
  left: 2px;
}

.login-page .notes {
  position: relative;
  width: 361px;
  height: 79px;
  top: 26px;
  left: 493px;
}

.login-page .logo {
  position: relative;
  width: 240px;
  height: 117px;
  left: 117px;
}

.login-page .overlap-group {
  position: relative;
  width: 193px;
  height: 48px;
  top: 35px;
  left: -21px;
}

.login-page .sk-telecom {
  position: absolute;
  width: 74px;
  height: 48px;
  top: 0;
  left: 56px;
  object-fit: cover;
}

.login-page .text-wrapper-3 {
  position: absolute;
  width: 75px;
  top: 15px;
  left: 118px;
  font-family: "PT Sans Caption", Helvetica;
  font-weight: 700;
  color: #184a9e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .text-wrapper-4 {
  position: absolute;
  top: 20px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .overlap-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 3224px;
}

.home-page .overlap {
  position: relative;
  height: 3224px;
}

.home-page .footer {
  position: absolute;
  width: 1440px;
  height: 416px;
  top: 2808px;
  left: 0;
  background-color: #e6e8ed;
}

.home-page .source-noodle {
  position: absolute;
  width: 1347px;
  height: 109px;
  top: 307px;
  left: 47px;
}

.home-page .notes {
  position: relative;
  width: 361px;
  height: 79px;
  top: 26px;
  left: 493px;
}

.logo {
  position: relative;
  width: 240px;
  height: 100px;
}

.logo .overlap-group {
  position: relative;
  width: 193px;
  height: 48px;
  top: 35px;
  left: -21px;
}

.logo .sk-telecom {
  position: absolute;
  width: 74px;
  height: 48px;
  top: 0;
  left: 56px;
  object-fit: cover;
}

.logo .text-wrapper {
  position: absolute;
  width: 75px;
  top: 15px;
  left: 118px;
  font-family: "PT Sans Caption", Helvetica;
  font-weight: 700;
  color: #184a9e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.logo .div {
  position: absolute;
  top: 20px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .footer-space {
  display: inline-flex;
  align-items: flex-start;
  gap: 132px;
  position: absolute;
  top: 63px;
  left: 47px;
}

.home-page .frame {
  position: relative;
  width: 365px;
  height: 140px;
}

.home-page .logo-hcmus-no-text {
  position: absolute;
  width: 252px;
  height: 60px;
  top: 0;
  left: 0;
}

.home-page .p {
  position: absolute;
  width: 365px;
  top: 79px;
  left: 10px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .websites {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}
.text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.home-page .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.home-page .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.home-page .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .div-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .div-4 {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.home-page .quill-mail {
  position: relative;
  width: 25px;
  height: 25px;
}

.home-page .span {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
}

.home-page .text-wrapper-6 {
  text-decoration: underline;
}

.home-page .courses-of {
  position: absolute;
  width: 1440px;
  height: 2158px;
  top: 672px;
  left: 0;
  background-color: #f5f6fa;
}

.text-wrapper-7 {
  position: relative;
  font-family: "Poppins", Helvetica !important;
  font-weight: 700 !important;
  color: #000000;
  font-size: 32px !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.home-page .subject-of-semester {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 89px;
  position: absolute;
  top: 217px;
  left: 89px;
}

.home-page .infomation-subject-wrapper {
  position: relative;
  width: 1262px;
  height: 322px;
  background-color: #ffffff;
  border-radius: 23px;
  overflow: hidden;
  border: 2px solid;
  border-color: #f5f6fa;
  box-shadow: 0px 4px 4px #00000040;
}

.home-page .infomation-subject {
  position: relative;
  width: 1197px;
  height: 276px;
  top: 23px;
  left: 33px;
}

.home-page .text-of-subject {
  position: absolute;
  width: 548px;
  height: 263px;
  top: 6px;
  left: 0;
}

.home-page .subject-info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.text-wrapper-8 {
  font-weight: 600;
  font-size: 24px;
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .teachers {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 153px;
  left: 0;
}

.home-page .div-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-10 {
  color: #000000;
}

.home-page .text-wrapper-11 {
  color: #ff7c00;
}

.home-page .div-6 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .solar-key-linear {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 120px;
  left: 1138px;
}

.home-page .teachers-2 {
  position: absolute;
  top: 113px;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.home-page .teacher-nguyen-bao {
  position: relative;
  width: 271px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 1262px;
  height: 193px;
  align-items: flex-end;
  gap: 10px;
  padding: 0px 32px;
  position: relative;
  background-color: #ffffff;
  border-radius: 23px;
  overflow: hidden;
  border: 2px solid;
  border-color: #f5f6fa;
  box-shadow: 0px 4px 4px #00000040;
}

.home-page .infomation-subject-2 {
  display: flex;
  width: 1230px;
  height: 193px;
  align-items: center;
  justify-content: center;
  gap: 837px;
  padding: 6px 0px;
  position: relative;
  margin-left: -32px;
  border-radius: 23px;
}

.home-page .text-of-subject-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  position: relative;
  flex: 0 0 auto;
}

.home-page .subject-info-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.home-page .teacher-hoang-thanh-wrapper {
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.home-page .backgrounds-of {
  position: absolute;
  width: 1440px;
  height: 672px;
  top: 0;
  left: 0;
  background-image: url(../img/home_screen/backgrounds-of-school.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home-page .latest-tasks {
  display: inline-flex;
  align-items: flex-start;
  gap: 94px;
  position: absolute;
  top: 561px;
  left: 67px;
}

.home-page .latest {
  position: relative;
  width: 373px;
  height: 145px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 2px solid;
  border-color: #f5f6fa;
}

.home-page .text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  position: relative;
  top: 13px;
  left: 35px;
}

.text-wrapper-12 {
  font-weight: 600;
  font-size: 20px;
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .title-of-latest-task {
  display: inline-flex;
  align-items: flex-end;
  gap: 90px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-13 {
  position: relative;
  width: 131px;
  height: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #4f4e68;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-14 {
  position: relative;
  width: 77px;
  height: 15px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #4f4e68;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .time {
  position: relative;
  width: 96.92px;
  height: 16.18px;
}

.text-wrapper-15 {
  position: relative;
  width: 95px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #250c5a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .process-bar {
  position: relative;
  width: 304.33px;
  height: 7px;
}

.home-page .title-of-latest-task-2 {
  display: flex;
  width: 291px;
  align-items: flex-end;
  gap: 128px;
  position: relative;
  flex: 0 0 auto;
}

.home-page .text-wrapper-16 {
  position: relative;
  width: 36px;
  height: 15px;
  margin-right: -4px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #4f4e68;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .process-bar-2 {
  position: relative;
  width: 304.33px;
  height: 7.01px;
}

.home-page .header {
  display: flex;
  width: 1440px;
  align-items: center;
  gap: 202px;
  padding: 31px 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 0px 0px 23px 23px;
  overflow: hidden;
}

.home-page .logo-hcmus-no-text-2 {
  position: relative;
  width: 252px;
  height: 60px;
}

.home-page .navigation-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.home-page .chosen-box {
  position: relative;
  width: 66px;
  height: 30px;
}

.home-page .overlap-group-2 {
  position: relative;
  width: 62px;
  height: 30px;
  top: -1px;
  left: 2px;
}

.home-page .line {
  position: absolute;
  width: 62px;
  height: 2px;
  top: 28px;
  left: 0;
}

.home-page .text-wrapper-17 {
  position: absolute;
  top: 0;
  left: 1px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #1479f4;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .user-info {
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -8px;
}

.course-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.course-page .overlap-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1932px;
}

.course-page .overlap {
  position: relative;
  height: 1932px;
}

.course-page .background-courses {
  position: absolute;
  width: 1440px;
  height: 722px;
  top: 0;
  left: 0;
  background-color: #0c0928;
}

.course-page .content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
  position: relative;
  top: 264px;
  left: 433px;
}

.text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .toggle {
  position: relative;
  width: 251px;
  height: 79px;
  background-color: #ffffff;
  border-radius: 40px;
  overflow: hidden;
}

.course-page .vector {
  position: absolute;
  width: 24px;
  height: 18px;
  top: 31px;
  left: 186px;
}

.text-wrapper-academic {
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .all-of-courses {
  position: absolute;
  width: 1440px;
  height: 934px;
  top: 604px;
  left: 0;
  background-color: #f4f8fd;
  border-radius: 23px;
  overflow: hidden;
}

.course-page .semester-toggle {
  position: absolute;
  width: 302px;
  height: 57px;
  top: 65px;
  left: 64px;
}

.course-page .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .element-wrapper {
  position: absolute;
  width: 108px;
  height: 57px;
  top: 0;
  left: 194px;
  background-color: #ffffff;
  border-radius: 40px;
  overflow: hidden;
}

.course-page .element {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  position: relative;
  top: 4px;
  left: 32px;
}

.course-page .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .img {
  position: relative;
  width: 22px;
  height: 16px;
}

.course-page .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 67px;
  position: absolute;
  top: 201px;
  left: 9px;
}

.course-page .line {
  display: inline-flex;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.course-page .intro {
  position: relative;
  width: 457px;
  height: 261px;
  background-color: #ffe7ee;
  border-radius: 23px;
  overflow: hidden;
}

.course-page .content-of {
  position: relative;
  width: 359px;
  height: 98px;
  top: 33px;
  left: 49px;
}

.course-page .text-wrapper-4 {
  position: absolute;
  top: -1px;
  left: 4px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .group {
  position: absolute;
  width: 351px;
  height: 15px;
  top: 83px;
  left: 4px;
}

.course-page .below-content {
  position: absolute;
  width: 390px;
  height: 75px;
  top: 127px;
  left: 0;
}

.course-page .button-play {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 3px;
  left: 320px;
}

.course-page .process-status {
  position: absolute;
  width: 94px;
  height: 59px;
  top: 8px;
  left: 0;
}

.course-page .text-wrapper-5 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .week {
  position: absolute;
  width: 94px;
  height: 30px;
  top: 29px;
  left: 0;
}

.course-page .text-wrapper-6 {
  position: absolute;
  top: 2px;
  left: 19px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .text-wrapper-7 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .intro-ds {
  background-color: #bae0db;
  position: relative;
  width: 457px;
  height: 261px;
  border-radius: 23px;
  overflow: hidden;
}

.course-page .content-of-wrapper {
  background-color: #fdfbbe;
  position: relative;
  width: 457px;
  height: 261px;
  border-radius: 23px;
  overflow: hidden;
}

.course-page .content-of-introds-wrapper {
  background-color: #bad6ff;
  position: relative;
  width: 457px;
  height: 261px;
  border-radius: 23px;
  overflow: hidden;
}

.course-page .div-wrapper {
  background-color: #ffe7f7;
  position: relative;
  width: 457px;
  height: 261px;
  border-radius: 23px;
  overflow: hidden;
}

.course-page .footer {
  position: absolute;
  width: 1440px;
  height: 416px;
  top: 1516px;
  left: 0;
  background-color: #e6e8ed;
}

.course-page .source-noodle {
  position: absolute;
  width: 1347px;
  height: 109px;
  top: 307px;
  left: 47px;
}

.course-page .notes {
  position: relative;
  width: 361px;
  height: 79px;
  top: 26px;
  left: 493px;
}

.course-page .logo {
  position: relative;
  width: 240px;
  height: 117px;
  left: 117px;
}

.course-page .overlap-group {
  position: relative;
  width: 193px;
  height: 48px;
  top: 35px;
  left: -21px;
}

.course-page .sk-telecom {
  position: absolute;
  width: 74px;
  height: 48px;
  top: 0;
  left: 56px;
  object-fit: cover;
}

.course-page .text-wrapper-8 {
  position: absolute;
  width: 75px;
  top: 15px;
  left: 118px;
  font-family: "PT Sans Caption", Helvetica;
  font-weight: 700;
  color: #184a9e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .text-wrapper-9 {
  position: absolute;
  top: 20px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .footer-space {
  display: inline-flex;
  align-items: flex-start;
  gap: 132px;
  position: absolute;
  top: 63px;
  left: 47px;
}

.course-page .frame-2 {
  position: relative;
  width: 365px;
  height: 140px;
}

.course-page .logo-hcmus-no-text {
  position: absolute;
  width: 252px;
  height: 60px;
  top: 0;
  left: 0;
}

.course-page .p {
  position: absolute;
  width: 365px;
  top: 79px;
  left: 10px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  position: relative;
  flex: 0 0 auto;
}

.course-page .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .websites {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}

.course-page .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.course-page .text-wrapper-12 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.course-page .div-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .div-4 {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.course-page .solar-phone-outline {
  position: relative;
  width: 24px;
  height: 24px;
}

.course-page .quill-mail {
  position: relative;
  width: 25px;
  height: 25px;
}

.course-page .span {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
}

.course-page .text-wrapper-13 {
  text-decoration: underline;
}

.course-page .header {
  display: flex;
  width: 1440px;
  align-items: center;
  gap: 202px;
  padding: 31px 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 0px 0px 23px 23px;
  overflow: hidden;
}

.course-page .logo-hcmus-no-text-2 {
  position: relative;
  width: 252px;
  height: 60px;
}

.course-page .navigation-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.course-page .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .overlap-group-wrapper {
  position: relative;
  width: 84px;
  height: 30px;
}

.course-page .overlap-group-2 {
  position: relative;
  height: 31px;
  top: -2px;
}

.course-page .line-2 {
  position: absolute;
  width: 82px;
  height: 2px;
  top: 29px;
  left: 2px;
}

.course-page .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #1479f4;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.course-page .user-info {
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -8px;
}
